//! **************************************************************************
// Written by: Map P.20131013 on Fri May 29 17:10:28 2015
//! **************************************************************************

SCHEMATIC START;
COMP "SCK2" LOCATE = SITE "A18" LEVEL 1;
COMP "SDOUT" LOCATE = SITE "A6" LEVEL 1;
COMP "CSLD1" LOCATE = SITE "C7" LEVEL 1;
COMP "SCK3" LOCATE = SITE "U20" LEVEL 1;
COMP "CSLD2" LOCATE = SITE "B7" LEVEL 1;
COMP "count11<10>" LOCATE = SITE "W9" LEVEL 1;
COMP "count11<11>" LOCATE = SITE "Y11" LEVEL 1;
COMP "SDIN1" LOCATE = SITE "A7" LEVEL 1;
COMP "count11<12>" LOCATE = SITE "R13" LEVEL 1;
COMP "SDIN2" LOCATE = SITE "E7" LEVEL 1;
COMP "SDIN3" LOCATE = SITE "F7" LEVEL 1;
COMP "count11<13>" LOCATE = SITE "Y9" LEVEL 1;
COMP "count11<14>" LOCATE = SITE "U9" LEVEL 1;
COMP "count11<15>" LOCATE = SITE "Y7" LEVEL 1;
COMP "count11<0>" LOCATE = SITE "D3" LEVEL 1;
COMP "count11<1>" LOCATE = SITE "D4" LEVEL 1;
COMP "count11<2>" LOCATE = SITE "C2" LEVEL 1;
COMP "CSLD3" LOCATE = SITE "C6" LEVEL 1;
COMP "count11<3>" LOCATE = SITE "B1" LEVEL 1;
COMP "count11<4>" LOCATE = SITE "D2" LEVEL 1;
COMP "count11<5>" LOCATE = SITE "C1" LEVEL 1;
COMP "count11<6>" LOCATE = SITE "E1" LEVEL 1;
COMP "Light" LOCATE = SITE "T14" LEVEL 1;
COMP "count11<7>" LOCATE = SITE "D1" LEVEL 1;
COMP "count11<8>" LOCATE = SITE "T13" LEVEL 1;
COMP "count11<9>" LOCATE = SITE "W10" LEVEL 1;
COMP "CLK" LOCATE = SITE "E11" LEVEL 1;
COMP "SCK1" LOCATE = SITE "A10" LEVEL 1;
SCHEMATIC END;

